<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="navigation-bar">Devcat</div>
<div id="container"></div>
<div id="container-main"></div>

    <script type="text/javascript" src="js/list_title_form.js"></script>
    <script type="text/javascript" src="js/list.js"></script>
    <script type="text/javascript" src="js/add_list.js"></script>
    <script type="text/javascript" src="js/main_board.js"></script>
</body>
</html>