/*전체 그리드*/
html{
    background-color: rgb(68,123,184);
}
.navigation_bar{
    background-color: rgb(57,107,160);
    color:white;
    padding:10px;
    text-align:center;
    line-height:60px;
    font-size:35px;
    margin-bottom:20px;
}
/*전체 그리드*/

/*List part*/
#list_title_form{
    position:absolute;
    background-color: RGB(227,229,230);
    height:90px;
    width:270px;
    border-radius:3px;
}
.newitem_wrapper {
    margin:10px;
}
#list_title_input {
    width: 97%;
    height: 30px;
    margin-bottom: 5px;
    border: 2px solid lightslategrey;
    borer-radius:3px;
    font-size:14px;
}
.list {
    background-color: RGB(227,229,230);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-right:10px;
    margin-top:10px;
    position: relative;
    width: 270px;
    cursor: pointer;
}
.list_title:hover{
    background-color: lightgrey;
    border-radius:3px;
}
.list_title {
    height:30px;
    padding: 8px 34px 8px 10px;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
}
#list_node {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#list_title_submit{
    background-color: mediumseagreen;
    border:none;
    color:white;
    font-size:13px;
    padding:8px;
    border-radius:3px;
    margin-top:2px;
}
/*List part*/

/*Card part*/
#card_title_form{
    position:relative;
    z-index:2;
}
.list_cards {
    flex: 1 1 auto;
    margin: 0 4px;
    padding: 0 4px;
}
.card_title{
    position:absolute;
    z-index:0;
}
.card_title_submit{
    background-color: mediumseagreen;
    border:none;
    color:white;
    font-size:13px;
    padding:8px;
    border-radius:3px;
    margin-top:2px;
}
.card_title_input {
    width: 90%;
    margin-bottom: 4px;
    resize: none;
    height: 54px;
    border: none;
}
.card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 30px;
    position: relative;
    padding: 6px 8px 4px;
    overflow: auto;
}
.card:hover{
    background-color: lightgrey;
}
.card div {
    margin-bottom: 5px;
}
.card:focus{

}
/*Card part*/